# Python
__pycache__/
*.pyc

# Virtual environments
venv*/
env*/
.venv/

# Editors / IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Config / Secrets
.env
config.ini
secrets.json
.streamlit/secrets.toml

# Optional: ignore all TOML files (if you don't need any)
# *.toml
